body {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.section1{
    display: flex;
    }
/* .ban{
    position: absolute;
    width: 100%;

} */
.logo img{
    display: block;
    font-size: 24px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-top: 50px;
    text-decoration: none;
    height: 50px;
    width: 150px;
}

nav {
    background-color: #FFF;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 10px 0 0 200px;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}
.home{
    border-bottom: #ee1d48 solid 3px;
}
.search-icon{
    margin: 5px;
    cursor: pointer;
    font-size: 30px;
}

 nav li a, .dropbtn {
    font-weight:bold;
    display: inline-block;
color: #101820;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

        nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
}

nav li.dropdown {
    display: inline-block;
    }

        .dropdown-content {
    display: none;
    position: absolute;
    background-color: #101820;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    }

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

        /* .dropdown-content a:hover {
    background-color: red;
} */
.dropdown .dropbtn {
    color: #ff0000; /* Rouge pour la flèche au survol */
    
}

.dropdown:hover .dropdown-content {
    display: block;
}
.section1 .contact{
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 15px;
    
}
nav li:last-child a {
    color: white; /* Couleur blanche pour le texte "Contact" */
}
.banière{
    position: relative;
    width: 100%;
}

.texte_description{
    position: absolute;
    bottom: 50px; /* Ajuste la position verticale */
    right: 50%; /* Ajuste la position horizontale*/
    padding: 20px;
    margin-bottom: -200px;
    border-radius: 10px;
    color: white;
    font-size: 25px;

}
.button-contact{
    background-color: rgb(194, 10, 10);
    color: white;
    padding: 16px 25px; /* Remplissage intérieur du bouton */
    font-size: 16px;
    border: none; /* Supprimer la bordure */
    border-radius: 25px 25px 25px 25px; /* Coins arrondis */

}
.button-passage{
    text-align: center; /* Aligne les boutons au centre horizontalement */
    padding-top: 150px;
    padding-left: 80px;
}
.button-rond{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px;
}
.button-rectangle{
    width: 50px;
    height: 10px;
    background-color: white;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
}
.image26{
    height: 700px;
    width: 100%;
}
.section3{
    display: flex;
    /* margin-right: 10px;
    margin-left: 10px; */
    padding-left: 30px;
    background-color:#fdf7f8;
}
.section3{
    height: 700px;
    width: 100%;
}
.section3 img{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    width: 20%;
    border-radius: 30px;
    height: auto;

}
.texte_numerique{
    margin-top: 1px;
    line-height: 2.5;
    font-weight: bolder;
    margin-left: 30px;
    width: 45%;
}
.texte_numerique h1{
    color: #ee1d48;
}
/* body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal; 
} */

.nouvelles{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Nouv{
    display: flex;
    align-items: center;
    color: rgb(194, 10, 10);
}
.Actualité1{
    text-align: center;
    color: rgb(194, 10, 10);
}
.Actus{
    position: relative;
    display: inline-block;
    margin: 18px;
}
.Actusimg{
    width: 300px;
    height: 200px;
    display: block;
    border: 1px solid #ddd; /* Ajoutez une bordure pour plus de visibilité */
    border-radius: 8px; /* Coins arrondis, facultatif */
    
}
/*.Actualité2 p{
    max-width: 600px; /* Ajustez la largeur selon vos besoins */
    /*margin: 0 auto; /* Centre le texte horizontalement 0 auto*/
    /*padding: 15px;
}*/

.Actusp{
    color:rgb(109, 107, 107);
}
.date-label {
    position:absolute;
    /*text-align: center;*/
    bottom: 310px;
    left:230px;
    padding: 9px;
    padding-top: 3px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: rgb(194, 10, 10);
    border: none;
    border-radius: 0 0 25px 25px;
    width: 40px;
    height: 50px;
    

}

/* Style pour le jour (en haut) */
.day {
    display: block;
    font-weight: bold;
    padding-top:7px;
}

/* Style pour le mois (en bas) */
.month {
    display: block;
    margin-top: 0px; /* Ajustez cette valeur selon vos besoins pour le positionnement */
    font-size: 7px;
    opacity: 1;
    letter-spacing: 2px;
}
.Actusplus{
    display: flex;
    margin-left: 80%;
}
.Actusplush2{
    color:rgb(194, 10, 10);
    padding-left: 85px;
}
.button-Actusplus{
    background-color: rgb(194, 10, 10);
    color: white;
    font-size: 16px;
    border: none; /* Supprimer la bordure */
    border-radius: 50%; /* Coins arrondis */
    width: 40px;
    height: 40px;
    margin:12px;
}
.plus{
    font-weight: bold;
    font-size: 40px;
    margin:-12px;
}
h5{
    color: #ff0000;
    font-size: 20px;
    text-align: end;
    margin-right: 200px;
}
.even{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 30px;
    /* padding-right: 10px;
    padding-left: 10px; */
}
.evenement{
    color: white;
}

.even1{
    width: 40%;
    /* padding-right: 10px;
    padding-left: 10px; */
    margin-right: 10px;
    display: flex;
    background-color:#ee1d48;
}
/* .even1 h5,.even2 h5{
    margin-left: 10px;
} */
.even2{
    width: 50%;
    padding-top: 2px;
    /* padding-right: 10px;
    padding-left: 10px; */
    margin-right: 20px;
    display: flex;
    background-color:#ee1d48;
}
.mois{
    margin-bottom: 2px;
    margin-top: 10px;
}
.date{
    padding-right: 10px;
    padding-top: 2px;
}
.date p span{
    font-size: 50px;
    font-weight: bolder;
}
.even p{
    font-size: x-large;
    text-align: center;
    margin-bottom: 10px;
}
.image-container {
    color: white;
        height: 50%;
    font-family: Arial, sans-serif;
    background-image: url('Images/35.png'); /* Remplacez avec le chemin de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément body */
    background-position: center; /* Centre l'image horizontalement */
    background-repeat: no-repeat; 
}
.image-container p{
    padding-bottom: 190px;
}
.overflay-box {
width: 80%;
    height: 200px;
/* Rouge transparent */
    color: #fff; /* Texte blanc */
    text-align: center;
   /* Centrer le texte verticalement */
}
.resultat{
    position: absolute;
    display: flex;
    height: 200px;
    margin-top: -100px;
    background-color: rgba(215, 19, 67, 0.925); 
    width: 80%;
    margin-left: 5%;
    padding-left: 10%;
    margin-right: 5%;
}

.info h1{
color: white;
padding-left: 0%;
}
.info p{
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 90px;
}
.contain{
    height: 700px;
    padding-bottom: 70px;
}
   .contain h4{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-weight: bold;
        font-size: 50px;
        padding-left: 160px;
        padding-top: 150px;
}

.contain p{
    padding-left: 10%;
}
.contain h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.info{
    text-align: center;
    padding-left: 14%;
}

.Formateur{
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.formateur1{
    display: flex;
    padding: 110px;
}
.texte{
    color: #ff0000;
    text-align: center;
}
/* .Formateur p,.Formateur h1{
    margin-top: 40px;
} */
.fleche{
    background-color: #fff;
    padding: 2px;
}
button{
    margin-top: 250px;
    margin-left: -40px;
        background-color: #ee1d48;
        color:#fff;
        border: #ee1d48 1px solid;
        border-radius: 10px;
}
.form{
    background-color: #fff;
    margin-top: 50px;
    border: #fff 1px solid;
    border-radius: 10px;
    padding-left: 120px;
    width: 250px;
    height: auto;
}
.image{
    height: 150px;
    width: 130px;
    background-image: url("Images/19.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0px 0px 5px 4px rgba(98, 94, 94, 0.18);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: -20px;
}
#formateur1{
    margin-right: 100px;
}
.rafetal{
    display: flex;
    margin-left: 50%;
    margin-right: 45%;
    margin-top: -250px;

}
.point{
    background-color: #ee1d48;
    width: 15px;
    height: 10px;
    border: #ee1d48 1px solid;
    border-radius: 15px;
    margin-top: 299px;
}
#point{
    margin-right: 10px;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trait{
    width: 80%;
    height: 10px;
    background-color: #ee1d48;
    border: #ee1d48 1px solid;
    border-radius: 10Px;
    margin-top: 299px;
    margin-left: 10px;
}
.histoire{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.alumni,.petitehistoire{
    display: flex;
    margin: auto;
    padding: -5px;
}
.alumni{
    margin-bottom: 200px;
}
.video{
    margin-left: 150px;
    height: 300px;
    width: 400px;

}

.time{
    height: 15px;
    width: 60px;
    color: #FFF;
    background-color: #ee1d48;
    transform: translate(-50%, -50%);
    margin-top: -50px;
    margin-left: 300px;
    padding:5px 15px 30px 15px;
  
}
.time h3{
    margin-top: 6px;
    margin-left: -3px;
}

#play,#play1{
    height: 75px;
    width: 75px;
    opacity: 0.65;
    margin-bottom: 120px;
    margin-left: -250px;
}
.section-histoire{
    margin-top: 30px;
        display: flex;
        padding-left: 10%;
}

    .section-histoire .texte-contenaire{
        text-align: center;
        width: 100%;
        height: auto;
        font-size: 30px;
}
.titre-formateur{
    color: #ff0000;
    font-size: 15px;
    margin-top: 130px;
    margin-left: 15%;
}
.titre-formateurs{
    color: #cf3034;
    font-size: 32px;
    margin-left: 30px;
    h1{
        font-size: 30px;
        margin-left: 1%;
    }
}
.souligne-formateur{
    height: 1px;
    width: 80px;
    font-size: 10px;
    margin-left: -1px;
}
#apprenant,#apprenant1{
    height: 300px;
}
#apprenant1{
    width: 350px;

}
.equipe{
    display: flex;
    justify-content: space-evenly;
}
#section-histoire1{
    margin-top: -100px;
}
.formateur-equipe{
    width: 320px;
    height: 380px;
    margin-top: 100px;
    box-shadow: 0px 0px 3px 4px rgba(98, 94, 94, 0.18);
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 0px 0px 20px 20px;
    display: grid;
}
.formateur-equipe p{
    text-align: left;
    padding-top: 22px;
    padding-left: 30px;
    line-height: 1.5;
}
.footer-title h2{
    text-align: start;
}
.footer-title p{
    text-align: start;
}
.formateur-footer{
    display: flex;
    padding-left: 3px;
}
.formateur-footer img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.footer-title{
    padding-left: 10px;
}
.section-histoire{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.image-contenaire{
    width: 1200px;
    height: 600px;
    margin-top: 80px;
    box-shadow: 0px 0px 3px 4px rgba(98, 94, 94, 0.18);
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 0px 0px 20px 20px;
}
.image-contenaire img{

    border-bottom: 8px solid #cf3034;
    width: 100%;
    height:80%;
}
.video h3{
    margin-top: 30px;
    margin-left: -40px;
    padding-left: 10px;
    padding-top: 10px;
    background: #cf3034;
    color: #ffff;
    width: 250px;
    height: 35px;
    position: absolute;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 1px 1px 1px rgba(130, 128, 128, 0.499);

}
.video p:last-child{
    margin-top: 20px;
    font-weight: bolder;
    font-size: larger;
    border-top: #ee1d48 7px solid;
}
.icon-youtube{
    
}
.texte{
    margin-left: 50px;
    font-size: larger;
    line-height: 1.5;
}
.texte1{
    margin-left: 250px;
    font-size: larger;
    line-height: 1.5;
}
.texte h1,.texte1 h1{
    color: #ee1d48;
}
.Formulaire{
    display: flex;
    justify-content: center;
}
.h1{
    text-align: center;
    color: #ee1d48;
    margin-top: 120px;
}

.container {
    max-width: 600px;
    margin: 30px 60px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* code footer */
.nous-contacter{
    input{
        background-color: rgb(255,255,255);
    }
}
footer {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color:#000;
    color: #ffff;
    display: flex;
    justify-content: space-around;
}
.nous-contacter{
    margin-bottom: 90px;
    display: flex;
    justify-content: space-evenly;
}
.carte2 {
    display: grid;
}

.carte1 {
    display: grid;
}

.carte2 a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: #cf3034;
}

.social1 {
    display: flex;
    justify-content: space-evenly;
}
.social1 img{
    margin: 10px;
}

.carte3 p {
    font-size: 20px;
}

.carte4 p {
    font-size: 20px;
}

.Newsletter {
    margin-top: 30px;
    font-size: 20px;
}

.Newsletter .input {
    background-color: #ffff;
    border-radius: 15px 0px 0px 15px;
    margin-right: 0px;
    padding-right: 8px;
    width: 200px;
    height: 50px;
}

.Newsletter input {
    font-size: 18px;
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px transparent;
    border-radius: 0px 15px 15px 0px;
    background-color: #cf3034;
    width: 100px;
    height: 50px;
}
.h1nº1{
    display: flex;
    font-size: 48px;
    color: #cf3034;
    justify-content: center;
}
.copy {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    background-color: #cf3034;
}
     /* code footer */

footer {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color:#000;
    color: #ffff;
    display: flex;
    justify-content: space-around;
}

.carte1 {
    display: grid;
}

.carte2 a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: #cf3034;
}

.social1 {
    display: flex;
    justify-content: space-evenly;
}
.social1 img{
    margin: 10px;
}

.carte3 p {
    font-size: 20px;
}

.carte4 p {
    font-size: 20px;
}

.Newsletter {
    margin-top: 30px;
    font-size: 20px;
}

.Newsletter .input {
    background-color: #ffff;
    border-radius: 15px 0px 0px 15px;
    margin-right: 0px;
    padding-right: 8px;
    width: 200px;
    height: 50px;
}

.Newsletter input {
    font-size: 18px;
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px transparent;
    border-radius: 0px 15px 15px 0px;
    background-color: #cf3034;
    width: 100px;
    height: 50px;
}

.copy {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    background-color: #cf3034;
}                                  


@media screen and (max-width: 900px) and (min-width: 150px)  {*
    body{
        margin: 0 auto;
    }
    nav{
        display: none;
    }
    .section1{
        .logo{
            height: 100px;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
        .image26{
        height: 400px;
        width: 100%;
    }
    .banière{
        width: 100%;
    }
    .texte_description{
        bottom: 160px; /* Ajuste la position verticale */
        left: 5%;
        padding: 5px;
        border-radius: 10px;
        color: white;
        font-size: 12px;
    }
    .button-contact{
        margin-top: 10px;
        background-color: rgb(194, 10, 10);
        color: white;
        padding: 12px 15px; /* Remplissage intérieur du bouton */
        font-size: 12px;
        border: none; /* Supprimer la bordure */
        border-radius: 25px 25px 25px 25px; /* Coins arrondis */
    }
    .image26{
        height: 40%;
        width: 100%;
    }
    .section3{
        display: block;
        /* margin-right: 10px;
        margin-left: 10px; */
        padding-left: 30px;
        background-color:#fdf7f8;
    }
    .section3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .section3 img{
        margin-top: 5px;
        width: 60%;
        border-radius: 30px;
        height: 40%
    }
    .texte_numerique{
        font-weight: bolder;
        font-size: 13px;
        width: 60%;
    }
    .texte_numerique h1{
        color: #ee1d48;
        font-size: 15px;
    }
    /* body {
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-style: normal; 
    } */
    
    
    .Nouv{
        text-align: center;
        color: rgb(194, 10, 10);
        font-size: 18px;
    }
    .Actualité1{
        text-align: center;
        color: rgb(194, 10, 10);
        font-size: 15px;
    }
    .Actus{
        display: block;
        margin-left: 20%;
    }
    .Actusimg{
        width: 300px;
        height: 200px;
        display: block;
        border: 1px solid #ddd; /* Ajoutez une bordure pour plus de visibilité */
        border-radius: 8px; /* Coins arrondis, facultatif */
        
    }
    /*.Actualité2 p{
        max-width: 600px; /* Ajustez la largeur selon vos besoins */
        /*margin: 0 auto; /* Centre le texte horizontalement 0 auto*/
        /*padding: 15px;
    }*/
    
    .Actusp{
        color:rgb(109, 107, 107);
    }
    .date-label {
        position:absolute;
        /*text-align: center;*/
        bottom: 310px;
        left:230px;
        padding: 5px;
        padding-top: 3px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: white;
        background-color: rgb(194, 10, 10);
        border: none;
        border-radius: 0 0 25px 25px;
        width: 18px;
        height: 28px;
    }
    
    /* Style pour le jour (en haut) */
    .day {
        display: block;
        font-weight: bold;
        padding-top:7px;
    }
    
    /* Style pour le mois (en bas) */
    .month {
        display: block;
        margin-top: 0px; /* Ajustez cette valeur selon vos besoins pour le positionnement */
        font-size: 7px;
        opacity: 1;
        letter-spacing: 2px;
    }
    .Actusplus{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .Actusplush2{
        color:rgb(194, 10, 10);
        margin-left: 40px;
        font-size: 15px;
    }
    .button-Actusplus{
        background-color: rgb(194, 10, 10);
        color: white;
        font-size: 12px;
        border: none; /* Supprimer la bordure */
        border-radius: 50%; /* Coins arrondis */
        width: 20px;
        height: 20px;
    }
    .plus{
        font-weight: bold;
        font-size: 25px;
        margin:-10px;
        margin-top: -5px;
    }
    
    .even{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;

        /* padding-right: 10px;
        padding-left: 10px; */
    }
    .evenement{
        color: white;
    }
    
    .even1{
        width: 80%;
        height: 100px;
        padding-left: 10%;
        margin-right: 10px;
        display: flex;
        background-color:#ee1d48;
        margin-bottom: 5px;
    }

    .mois{
        margin-bottom: 2px;
        margin-top: 10px;
    }
    .date{
        padding-right: 10px;
        padding-top: 2px;
    }
    .date p span{
        font-size: 20px;
        font-weight: bolder;
    }
    .even p{
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
    }
    .image-container {
        color: white;
        height: 100%;
        font-family: Arial, sans-serif;
        background-image: url('Images/35.png'); /* Remplacez avec le chemin de votre image */
        background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément body */
        background-position: center; /* Centre l'image horizontalement */
        background-repeat: no-repeat; 
    }
    .image-container p{
        padding-bottom: 10px;
    }
    .overflay-box {
    width: 80%;
        height: 100px;
    /* Rouge transparent */
        color: #fff; /* Texte blanc */
        text-align: center;
       /* Centrer le texte verticalement */
    }
    .resultat{
        position: absolute;
        display: flex;
        height: 100px;
        margin-top: -50px;
        background-color: rgba(215, 19, 67, 0.925); 
        width: 80%;
    }
    .info h1{
    color: white;
    font-size: 20px;
    }
    .info p{
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        padding-bottom: 5px;
        font-size: 11px;
    }
    .info span{
        font-size: 18px;
        text-align: center;
    }
    .contain{
        height: 400px;
        padding-bottom: 70px;
    }
       .contain h4{
            font-family: 'Courier New', Courier, monospace;
            color: white;
            font-weight: bold;
            font-size: 25px;
            padding-left: 5%;
            padding-top: 150px;
    }
    .contain p{
        padding-left: 5%;
    }
    .contain h1{
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
    .info{
        text-align: center;
        padding-left: 45px;
            }
    
    .Formateur{
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        padding-left: 60px;
        padding-right: 30px;
        height: auto;
        margin-top: 60px;
            }
    .formateur1{
        display: flex;
    }
    /* .Formateur p,.Formateur h1{
        margin-top: 40px;
    } */
    .fleche{
        background-color: #fff;
        padding: 1px;
    }
    button{
        position: absolute;
            margin-top: 350px;
            margin-left: -40px;
            background-color: #ee1d48;
            color:#fff;
            border: #ee1d48 1px solid;
            border-radius: 10px;
    }
    .form{
        background-color: #fff;
        margin-top: 150px;
        border: #fff 1px solid;
        border-radius: 10px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .image{
        height: 150px;
        width: 150px;
        align-items: center;
        background-image: url("Images/19.png");
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        position: absolute;
        border: 1px solid white;
        border-radius: 10px;
        margin-left: 20%;
    }
    hr{
        width: 100%;
        margin-left: 0;
    }
    #formateur1{
        margin-right: 10px;
    }
    .rafetal{
        display: flex;
        margin-left: 40%;
        margin-top: -250px
    }
    .point{
        background-color: #ee1d48;
        width: 10px;
        height: 10px;
        border: #ee1d48 1px solid;
        border-radius: 15px;
        margin-top: 299px;
    }
    #point{
        margin-right: 10px;
    
    }
    .trait{
        width: 30px;
        height: 8px;
        background-color: #ee1d48;
        border: #ee1d48 1px solid;
        border-radius: 10Px;
        margin-top: 299px;
        margin-left: 10px;
    }
    .histoire{
        display: flex;
        height: auto;
        margin-top: 10px;
        padding: 100px;
    }
    .alumni,.petitehistoire{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alumni{
   display: flex;
   flex-direction: column;
   align-items: center;
    }
    .video{
        margin-left: 150px;
        height: 300px;
        width: 500px;
    }
    .video p{
        width: 70%;
    }
    
    .time{
        height: 20px;
        width: 30px;
        color: #FFF;
        background-color: #ee1d48;
        transform: translate(-50%, -50%);
        margin-top: -50px;
        margin-left: 300px;
        padding: 2px 5px 10px 5px;
      
    }
    .time h3{
        margin-top: 6px;
        margin-left: -3px;
    }
    
    #play,#play1{
        height: 45px;
        width: 45px;
        opacity: 0.65;
        margin-bottom: 120px;
        margin-left: -190px;
    }
    .section-histoire{
        margin-top: 30px;
            display: flex;
            padding-left: 10%;
    }
    
        .section-histoire .texte-contenaire{
            width: 80%;
            line-height: 1.9;
            font-size: 30px;
    }
    .titre-formateurs{
        color: #cf3034;
        font-size: 25px;
        margin-left: 50px;
    }
    #apprenant,#apprenant1{
        height: 300px;
    }
    #apprenant1{
        width: 350px;
    
    }
    .equipe{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }
    #section-histoire1{
        margin-top: -100px;
    }
    .formateur-equipe{
        width: 65%;
        margin-top: 10px;
        box-shadow: 0px 0px 3px 4px rgba(98, 94, 94, 0.18);
        margin-bottom: 50px;
        border-radius: 0px 0px 20px 20px;
    }
    .formateur-equipe p{
        text-align: center;
        padding-top: 2px;
    }
    .footer-title h2{
        text-align: start;
        font-size: 16px;
    }
    .footer-title p{
        text-align: start;
        font-size: 14px;
    }
    .formateur-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 3px;
    }
    .formateur-footer img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    .footer-title{
        padding-left: 10px;
    }
    .section-histoire{
        display: flex;
    }
    .image-pedago{
        width: 100%;
        height: auto;
    }
    .image-contenaire{
        width: 1200px;
        height: 600px;
        margin-top: 80px;
        box-shadow: 0px 0px 3px 4px rgba(98, 94, 94, 0.18);
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 50px;
        border-radius: 0px 0px 20px 20px;
    }
    .image-contenaire img{
    
        border-bottom: 8px solid #cf3034;
        width: 100%;
        height:80%;
    }
    .image-contenaire h3{
        margin-top: 30px;
        margin-left: -40px;
        padding-left: 10px;
        padding-top: 10px;
        background: #cf3034;
        color: #ffff;
        width: 300px;
        height: 35px;
        position: absolute;
        border-radius: 0px 20px 20px 0px;
        box-shadow: 0px 1px 1px 1px rgba(130, 128, 128, 0.499);
    
    }
    .video p:last-child{
        margin-top: 20px;
        font-weight: bolder;
        font-size: larger;
        border-top: #ee1d48 7px solid;
    }
    .texte{
        font-size: larger;
    }
    .texte1{
  display: flex;
  flex-direction: column;
  align-items: center;

    }
    .texte h1,.texte1 h1{
        color: #ee1d48;
    }
    .Formulaire{
        display: flex;
        justify-content: center;
    }
    .h1{
        text-align: center;
        color: #ee1d48;
        margin-top: 120px;
    }
    .alumni{
        align-items: center;
    }
    .container {
        max-width: 600px;
        margin: 30px 60px;
        padding: 20px;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    /* code footer */
    .nous-contacter{
        input{
            background-color: rgb(255,255,255);
        }
    }
    footer {
        font-family: 'Nunito Sans', sans-serif;
        padding-top: 50px;
        padding-bottom: 70px;
        background-color:#000;
        color: #ffff;
        display: flex;
        justify-content: space-around;
    }
    .nous-contacter{
        margin-bottom: 90px;
        display: flex;
        justify-content: space-evenly;
    }
    .carte2 {
        display: grid;
    }
    
    .carte1 {
        display: grid;
    }
    
    .carte2 a {
        text-decoration: none;
        color: #ffff;
    }
    
    a:hover {
        color: #cf3034;
    }
    
    .social1 {
        display: flex;
        justify-content: space-evenly;
    }
    .social1 img{
        margin: 10px;
    }
    
    .carte3 p {
        font-size: 20px;
    }
    
    .carte4 p {
        font-size: 20px;
    }
    
    .Newsletter {
        margin-top: 30px;
        font-size: 20px;
    }
    
    .Newsletter .input {
        background-color: #ffff;
        border-radius: 15px 0px 0px 15px;
        margin-right: 0px;
        padding-right: 8px;
        width: 200px;
        height: 50px;
    }
    
    .Newsletter input {
        font-size: 18px;
        color: #ffff;
        padding-left: 20px;
        padding-right: 20px;
        border: solid 1px transparent;
        border-radius: 0px 15px 15px 0px;
        background-color: #cf3034;
        width: 100px;
        height: 50px;
    }
    .h1nº1{
        display: flex;
        font-size: 48px;
        color: #cf3034;
        justify-content: center;
    }
    .copy {
        padding-left: 20px;
        padding-right: 20px;
        color: #ffff;
        display: flex;
        justify-content: space-between;
        background-color: #cf3034;
    }
         /* code footer */
    
    footer {
        font-family: 'Nunito Sans', sans-serif;
        padding-top: 50px;
        padding-bottom: 70px;
        background-color:#000;
        color: #ffff;
        display: flex;
        justify-content: space-around;
    }
    
    .carte1 {
        display: grid;
    }
    
    .carte2 a {
        text-decoration: none;
        color: #ffff;
    }
    
    a:hover {
        color: #cf3034;
    }
    
    .social1 {
        display: flex;
        justify-content: space-evenly;
    }
    .social1 img{
        margin: 10px;
    }
    
    .carte3 p {
        font-size: 20px;
    }
    
    .carte4 p {
        font-size: 20px;
    }
    
    .Newsletter {
        margin-top: 30px;
        font-size: 20px;
    }
    
    .Newsletter .input {
        background-color: #ffff;
        border-radius: 15px 0px 0px 15px;
        margin-right: 0px;
        padding-right: 8px;
        width: 200px;
        height: 50px;
    }
    
    .Newsletter input {
        font-size: 18px;
        color: #ffff;
        padding-left: 20px;
        padding-right: 20px;
        border: solid 1px transparent;
        border-radius: 0px 15px 15px 0px;
        background-color: #cf3034;
        width: 100px;
        height: 50px;
    }
    
    .copy {
        padding-left: 20px;
        padding-right: 20px;
        color: #ffff;
        display: flex;
        justify-content: space-between;
        background-color: #cf3034;
    }                                      
}

@media screen and (min-width: 1000px) and (max-width:1500){

}